.puzzle-map {
    position: relative;
    overflow: auto;
    scroll-behavior: smooth;
    padding: 0 5rem;
}

.puzzle-map__scrolls {
    display: flex;
    direction: rtl;
    flex-direction: row;
    gap: 5rem;
}