.puzzle-page {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 1fr auto;
    grid-template-areas:
        "puzzle-box puzzle-level-map"
        "puzzle-box puzzle-level-info";
    gap: 1rem;
    background: rgba(12, 12, 12, 0.45);
    backdrop-filter: blur(4px);
    box-shadow:
        0 0 12px rgba(0, 0, 0, 0.3),
        inset 0 0 10px rgba(255, 215, 150, 0.05);
}

.puzzle-page__puzzle-box {
    grid-area: puzzle-box;
    display: flex;
    justify-content: center;
    align-items: center;
    perspective: 1200px;
    padding: 0 100px;
}

.puzzle-page__puzzle-box--lift-appear {
    transform-origin: center center;
    transform: rotateX(50deg) translateY(-2px) translateZ(-120px);
}

.puzzle-page__puzzle-box--lift-appear-active {
    transform: rotateX(30deg) translateY(-4px) translateZ(0);
    transition: transform 3s cubic-bezier(0.11, 0.95, 0.24, 1);
}

.puzzle-page__puzzle-box--lift-appear-done {
    transform: rotateX(30deg) translateY(-4px) translateZ(0);
}

.puzzle-page__puzzle-level-map {
    grid-area: puzzle-level-map;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
}

.puzzle-page__puzzle-level-info {
    grid-area: puzzle-level-info;
    display: flex;
    height: fit-content;
    justify-content: center;
    align-items: center;
}