.puzzle-gallery {
    container: puzzle-gallery / inline-size;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.puzzle-gallery__world {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: clamp(1.25rem, 2.5cqw, 2.5rem);
}

.puzzle-gallery__world-name {
    padding: clamp(1rem, 2cqw, 2rem);
    font-family: "Kaisei Tokumin", serif;
    font-size: clamp(2rem, 4cqw, 4rem);
    font-weight: 800;
    color: #e6c36a;
    text-shadow: 0 0 0.5cqw rgba(230, 195, 106, 0.3);
}

.puzzle-gallery__button {
    display: flex;
    width: clamp(1.5rem, 3cqw, 3rem);
    height: clamp(1.5rem, 3cqw, 3rem);
    align-items: center;
    justify-content: center;
    background: transparent;
    border: none;
    cursor: pointer;
    font-family: "Kaisei Tokumin", serif;
    font-size: clamp(1.5rem, 3cqw, 3rem);
    font-weight: 800;
    color: #e6c36a;
    text-shadow: 0 0 clamp(0.25rem, 0.5cqw, 0.5rem) rgba(230, 195, 106, 0.3);
    transition: transform 0.2s ease, color 0.3s ease;
}

.puzzle-gallery__button:hover {
    color: #fff3d4;
    transform: scale(1.05);
}

.puzzle-gallery__button:active {
    transform: scale(0.95);
}

.puzzle-gallery__rewards {
    height: 37.5cqw;
    margin: 0;
    padding: 0;
    list-style: none;
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: start;
    padding: 2cqw;
    gap: 2cqw;
}

.puzzle-gallery__reward {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.puzzle-gallery__reward-description {
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: clamp(2rem, 4cqw, 4rem);
    font-family: "Kaisei Tokumin", serif;
    font-size: clamp(0.75rem, 1.5cqw, 1.5rem);
    font-weight: 500;
    color: #d7b56b;
    text-shadow:
        0 0 0.clamp(0.25rem, 0.5cqw, 0.5rem) rgba(215, 181, 107, 0.35),
        0 0 clamp(0.5rem, 1cqw, 1rem) rgba(215, 181, 107, 0.25);
    letter-spacing: clamp(0.0625rem, 0.0625cqw, 0.125rem);
}

.puzzle-gallery__reward--pop-in-appear {
    opacity: 0;
    transform: scale(0.95);
}

.puzzle-gallery__reward--pop-in-appear-active {
    opacity: 1;
    transform: scale(1);
    transition: opacity 400ms ease-out, transform 400ms ease-out;
    transition-delay: calc(var(--i) * 100ms);
    transition-delay: calc(mod(var(--i), 2) * 150ms + round(down, var(--i) / 2) * 100ms);
}


@media (min-width: 1024px) and (min-aspect-ratio: 4/3) {
    .puzzle-gallery__rewards {
        grid-template-rows: repeat(2, 1fr);
        grid-template-columns: repeat(5, 1fr);
    }

    .puzzle-gallery__reward--pop-in-appear-active {
        transition-delay: calc(mod(var(--i), 5) * 100ms + round(down, var(--i) / 5) * 150ms);
    }
}