.puzzle-tile {
    position: relative;
    box-shadow:
        inset 0 3px 7px rgba(255, 255, 255, 0.1),
        inset 0 -3px 10px rgba(0, 0, 0, 0.4);
    cursor: pointer;
    pointer-events: auto;
}

.puzzle-tile:active {
    transition: transform 0.1s ease, box-shadow 0.1s ease;
    transform: scale(0.95);
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.5) inset;
}

.puzzle-tile::after {
    content: "";
    position: absolute;
    inset: 3%;
    border: 1px solid black;
    box-sizing: border-box;
}