.puzzle-game {
    container: puzzle-game / inline-size;
    display: grid;
    grid-template-areas:
        "puzzle-level-map"
        "puzzle-box"
        "puzzle-level-info";
    align-items: center;
    justify-items: center;
}

.puzzle-game__puzzle-level-map {
    grid-area: puzzle-level-map;
    width: 100%;
}

.puzzle-game__puzzle-box {
    grid-area: puzzle-box;
    width: 100%;
}

.puzzle-game__puzzle-level-info {
    grid-area: puzzle-level-info;
    width: 90%;
}

.puzzle-game__puzzle-level-map>*,
.puzzle-game__puzzle-box>*,
.puzzle-game__puzzle-level-info>* {
    margin: 0 auto;
}

@media (min-aspect-ratio: 4/3) {
    .puzzle-game {
        grid-template-areas:
            "puzzle-box puzzle-level-map"
            "puzzle-level-info puzzle-map";
    }

    .puzzle-game__puzzle-level-map {
        align-self: start;
        width: 95%;
    }

    .puzzle-game__puzzle-level-map>* {
        max-height: 75cqh;
    }

    .puzzle-game__puzzle-box>* {
        max-height: 85cqh;
    }

    .puzzle-game__puzzle-level-info>* {
        max-height: 15cqh;
    }
}