.puzzle-game {
    display: grid;
    grid-template-areas:
        "puzzle-level-map"
        "puzzle-box"
        "puzzle-level-info";
    align-items: center;
    justify-items: center;
    padding-inline: 5%;
}

.puzzle-game__puzzle-level-map {
    grid-area: puzzle-level-map;
    width: 100%;
}

.puzzle-game__puzzle-box {
    grid-area: puzzle-box;
    width: 100%;
}

.puzzle-game__puzzle-level-info {
    grid-area: puzzle-level-info;
    width: 100%;
}

@media (min-aspect-ratio: 4/3) {
    .puzzle-game {
        grid-template-areas:
            "puzzle-box puzzle-level-map"
            "puzzle-box puzzle-level-info";
        gap: 5%;
    }

    .puzzle-game__puzzle-level-map {
        width: 90%;
        align-self: flex-start;
        justify-self: right;
    }

    .puzzle-game__puzzle-box {
        width: 100%;
        align-self: center;
        justify-self: center;
    }

    .puzzle-game__puzzle-level-info {
        width: 90%;
        align-self: flex-start;
        justify-self: right;
    }
}