@font-face {
    font-family: "Kaisei Tokumin";
    src: url("/fonts/KaiseiTokumin-Regular-Subset.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Kaisei Tokumin";
    src: url("/fonts/KaiseiTokumin-Medium-Subset.woff2") format("woff2");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Kaisei Tokumin";
    src: url("/fonts/KaiseiTokumin-Bold-Subset.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Kaisei Tokumin";
    src: url("/fonts/KaiseiTokumin-ExtraBold-Subset.woff2") format("woff2");
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}