@font-face {
    font-family: "Kaisei Tokumin";
    src: url("../assets/fonts/KaiseiTokumin/KaiseiTokumin-Regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Kaisei Tokumin";
    src: url("../assets/fonts/KaiseiTokumin/KaiseiTokumin-Medium.woff2") format("woff2");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Kaisei Tokumin";
    src: url("../assets/fonts/KaiseiTokumin/KaiseiTokumin-Bold.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Kaisei Tokumin";
    src: url("../assets/fonts/KaiseiTokumin/KaiseiTokumin-ExtraBold.woff2") format("woff2");
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}