html,
body,
#root {
  margin: 0;
  font-size: 16px;
  user-select: none;
  color-scheme: light dark;
}

img {
  pointer-events: none;
}

* {
  scrollbar-color: #e0c36a #12110f;
}

#bmc-wbtn {
  width: clamp(32px, 5vmax, 64px) !important;
  height: clamp(32px, 5vmax, 64px) !important;
  border-radius: 15% !important;
}

#bmc-wbtn img {
  width: 56.25% !important;
  height: 56.25% !important;
}