.puzzle-box {
    --cqw-per-px: calc(100cqw / 613);
    --padding: calc(45 * var(--cqw-per-px));

    aspect-ratio: 1/1;
    position: relative;
    padding: var(--padding);
    clip-path: polygon(var(--padding) 0cqw,
            calc(100cqw - var(--padding)) 0cqw,
            100cqw var(--padding),
            100cqw calc(100cqw - var(--padding)),
            calc(100cqw - var(--padding)) 100cqw,
            var(--padding) 100cqw,
            0cqw calc(100cqw - var(--padding)),
            0cqw var(--padding));
}

.puzzle-box--solved * {
    pointer-events: none;
}

.puzzle-box::before {
    content: "";
    position: absolute;
    inset: 0;
    box-shadow:
        inset calc(-5 * var(--cqw-per-px)) calc(-5 * var(--cqw-per-px)) calc(5 * var(--cqw-per-px)) #1a1305,
        inset calc(5 * var(--cqw-per-px)) calc(5 * var(--cqw-per-px)) calc(5 * var(--cqw-per-px)) #1a1305;
    box-sizing: border-box;
}

.puzzle-box__base {
    perspective: 3500px;
    perspective-origin: center top;
    border: calc(4 * var(--cqw-per-px)) solid #12110f;
    box-shadow:
        inset calc(-3 * var(--cqw-per-px)) calc(-3 * var(--cqw-per-px)) calc(40 * var(--cqw-per-px)) black,
        inset calc(3 * var(--cqw-per-px)) calc(3 * var(--cqw-per-px)) calc(40 * var(--cqw-per-px)) black;
    position: relative;
    display: inline-block;
    box-sizing: border-box;
}

.puzzle-box__puzzle-reward {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: absolute;
    bottom: calc(50 * var(--cqw-per-px));
    left: calc(120 * var(--cqw-per-px));
    width: calc(280 * var(--cqw-per-px));
    height: calc(225 * var(--cqw-per-px));
    box-shadow: 0 calc(2 * var(--cqw-per-px)) calc(5 * var(--cqw-per-px)) rgba(0, 0, 0, 0.5);
    transform-origin: center;
    transform: rotateZ(-2deg) rotateX(2deg);
}

.puzzle-box--solved .puzzle-box__puzzle-reward {
    cursor: pointer;
    pointer-events: auto;
    transition:
        transform 0.3s ease,
        opacity 0.6s ease;
}

.puzzle-box--solved .puzzle-box__puzzle-reward:hover {
    transform: rotateZ(-2deg) rotateX(2deg) scale(1.05);
}

.puzzle-box--solved .puzzle-box__puzzle-reward--collected {
    opacity: 0;
    transform: rotateZ(-2deg) rotateX(2deg) scale(1.05);
    pointer-events: none;
}

.puzzle-box__puzzle-grid {
    padding: calc(40 * var(--cqw-per-px));
    position: relative;
    display: inline-block;
    box-sizing: border-box;
}

.puzzle-box--solved .puzzle-box__puzzle-grid {
    box-shadow: 0 calc(20 * var(--cqw-per-px)) calc(40 * var(--cqw-per-px)) black;
    transform-origin: center top;
    transition: transform 2s ease-out;
    transform: rotateX(70deg);
}

.puzzle-box__puzzle-grid::before {
    content: "";
    position: absolute;
    inset: 0;
    border: calc(8 * var(--cqw-per-px)) solid #1a1305;
    box-sizing: border-box;
}