.game {
  container: game / inline-size;
  display: grid;
  grid-template-areas:
    "level-map"
    "box"
    "level-info";
  align-items: center;
  justify-items: center;
}

.game__level-map {
  grid-area: level-map;
  width: 100%;
}

.game__box {
  grid-area: box;
  width: 100%;
}

.game__level-info {
  grid-area: level-info;
  width: 90%;
}

.game__level-map>*,
.game__box>*,
.game__level-info>* {
  margin: 0 auto;
}

@media (min-aspect-ratio: 4/3) {
  .game {
    grid-template-areas:
      "box level-map"
      "level-info map";
  }

  .game__level-map {
    align-self: start;
    width: 95%;
  }

  .game__level-map>* {
    max-height: 75dvh;
  }

  .game__box>* {
    max-height: 85dvh;
  }

  .game__level-info>* {
    max-height: 15dvh;
  }
}