.puzzle-menu__items {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 10cqw;
}

.puzzle-menu__item>* {
    flex: 1;
}

.puzzle-menu__items>*:nth-child(2) {
    margin-top: 15cqw;
}