.puzzle-level-map {
    display: flex;
    flex-direction: row-reverse;
    border-top: 8px solid;
    border-image: linear-gradient(to right,
            rgba(140, 111, 47, 0.5) 0%,
            rgba(220, 180, 80, 0.6) 50%,
            rgba(140, 111, 47, 0.5) 100%) 1;
}