@keyframes scroll-sway {

    0%,
    100% {
        transform: rotate(-0.35deg);
    }

    50% {
        transform: rotate(0.35deg);
    }
}

.puzzle-level-map-container {
    container: puzzle-level-map / inline-size;
    aspect-ratio: 5/4;
    max-height: 100cqh;
}

.puzzle-level-map {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    gap: 10cqw;
    padding: 0 5cqw;
    border-top: 1cqw solid;
    border-image: linear-gradient(to right,
            rgba(20, 12, 6, 0.8) 0%,
            rgba(40, 30, 15, 0.9) 50%,
            rgba(20, 12, 6, 0.8) 100%) 1;
}

.puzzle-level-map>* {
    flex: 1;
}

.puzzle-level-map .puzzle-scroll:nth-child(1) {
    animation: scroll-sway 4.5s ease-in-out 0s infinite;
}

.puzzle-level-map .puzzle-scroll:nth-child(2) {
    animation: scroll-sway 4.1s ease-in-out 0.2s infinite;
}

.puzzle-level-map .puzzle-scroll:nth-child(3) {
    animation: scroll-sway 4.7s ease-in-out 0.1s infinite;
}

.puzzle-level-map .puzzle-scroll:nth-child(4) {
    animation: scroll-sway 4.4s ease-in-out 0.3s infinite;
}