html,
body,
#root {
    height: 100%;
    margin: 0;
    user-select: none;
    pointer-events: none;
}

.app {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
    width: 100vw;
}

.app__sidebar {
    flex: 0 0 30rem;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    background: rgba(12, 12, 12, 0.45);
    backdrop-filter: blur(8px);
    box-shadow:
        0 0 25px rgba(0, 0, 0, 0.6),
        inset 0 0 20px rgba(255, 215, 150, 0.05);
    z-index: 2;
}

.app__main {
    flex: 0 0 auto;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 1fr auto;
    grid-template-areas:
        "puzzle-box puzzle-map"
        "puzzle-level-info puzzle-map";
    height: 100%;
    width: auto;
    margin: auto;
    gap: 1rem;
    background: rgba(12, 12, 12, 0.45);
    backdrop-filter: blur(4px);
    box-shadow:
        0 0 12px rgba(0, 0, 0, 0.3),
        inset 0 0 10px rgba(255, 215, 150, 0.05);
}

.app__main>* {
    margin: 0 1rem;
}

.app__puzzle-box {
    grid-area: puzzle-box;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 100px;
}

.app__puzzle-map {
    grid-area: puzzle-map;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
}

.app__puzzle-level-info {
    grid-area: puzzle-level-info;
    display: flex;
    height: fit-content;
    justify-content: center;
    align-items: center;
}