.puzzle-sidebar {
    aspect-ratio: 1/2;
    max-width: 100cqw;
    max-height: 100cqh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.puzzle-sidebar>.puzzle-logo {
    width: 100%;
}

.puzzle-sidebar>.puzzle-menu {
    width: 60%;
}

@media (max-width: 1023px) and (min-aspect-ratio: 4/3) {
    .puzzle-sidebar {
        aspect-ratio: 2;
        flex-direction: row;
    }

    .puzzle-sidebar>.puzzle-logo {
        width: 65%;
    }

    .puzzle-sidebar>.puzzle-menu {
        width: 25%;
    }
}