.main-layout {
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
}

.main-layout__sidebar {
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-layout__sidebar,
.main-layout__content {
    width: 100%;
}

.main-layout__toggle-button {
    position: absolute;
    left: 20px;
    top: 20px;
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 15%;
    color: #c6a14b;
    font-size: 20px;
    cursor: pointer;
    pointer-events: auto;
    background: #12110f;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
}