.main-layout {
    container: main-layout / inline-size;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100vw;
}

.main-layout__sidebar {
    container: sidebar / inline-size;
    flex: 0 0 33cqmin;
}

.main-layout__content {
    container: content / inline-size;
    flex: 1 1 auto;
}

@container main-layout (width < 320px) {
    .main-layout__sidebar {
        width: 100cqw;
    }
}